ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
  margin: 32px;
  padding: 1px;
}

.target {
  background-color: #f3f3f3;
  width: 256px;
  height: 256px;
}

.selected {
  border: 2px solid;
  border-radius: 4px;
  border-color: #4a90e2;
  display: table;
}

.unselected {
  border: 2px solid;
  border-radius: 4px;
  border-color: transparent;
  display: table;
}

.container {
  padding-top: 12px;
  padding-left: 12px;
  position: fixed;
  z-index: 1202;
  width: 100%;
  height: 100%;
}
