ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
  margin: 32px;
  padding: 1px;
}

.target {
  background-color: #f3f3f3;
  width: 256px;
  height: 256px;
}

.selected {
  border: 0.2rem solid;
  border-color: rgb(41, 107, 210);
  display: table;
}

.unselected {
  display: table;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
